body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.breadcrumb {
    display: flex;
    align-items: center;
    padding: 10px 80px;
    margin: 5.7% 0 3% 0;
    background-color: #fdfbe7; /* Adjust the background color if needed */
}

.breadcrumb-item {
    color: #74797d;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.breadcrumb-item i {
    margin-right: 5%;
}

.breadcrumb-separator {
    margin: 0 17px;
    color: #74797d;
}

.breadcrumb-item.active {
    color: #8b4513;
    font-weight: bold;
}

.article {
    padding: 0 20px 20px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.article h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.article-meta {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.article-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.article p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.article h2 {
    font-size: 22px;
    margin: 20px 0 10px;
}

.quote-box {
    background-color: #744223;
    color: white;
    padding: 30px 120px;
    margin: 20px 0;
    text-align: center;
    font-style: italic;
}

.quote-box #icon-quote{
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
}

.quote-box p{
    font-size: 13px;
}

.quote-box span{
    font-weight: bold;
}

.related-articles {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.related-articles hr{
    width: 7%;
    margin: 15px 0;
    border: 1.8px solid #744223;
}

.related-articles h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.related-articles-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.related-article {
    display: flex;
    align-items: center;
}

.related-article img {
    width: 65px; /* Adjust width as needed */
    height: auto;
    margin-right: 10px;
}

.text-content-article p{
    color: black;
    font-weight: 600;
    font-size: medium;
}

.text-content-article small{
    color: #99A4AD;
}

.related-article-content {
    display: flex;
    flex-direction: column;
}

.related-article-content p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.related-article-content span {
    margin-top: 5px;
    font-size: 12px;
    color: #777;
}

.gambarlain {
    display: flex;
    justify-content: center;
    gap: 15.3px;
}

.gambarlain img {
    width: 49%;
}
